flask==3.1.0
SQLAlchemy==2.0.39
Flask-SQLAlchemy==3.1.1
flask-cors==5.0.1
psycopg2-binary==2.9.10
python-dotenv==1.0.1
coverage==7.6.12
pytest==8.3.5
pytest-cov==6.0.0
pytest-ordering==0.6
requests==2.32.3
